{
	email {$EMAIL}
	log {
		format console
	}
}

mathlp.com {
	redir https://www.matheuslp.com{uri}
}

matheuslp.com {
	redir https://www.{host}{uri}
}

www.matheuslp.com {
	root /srv/mlp-homepage
	file_server
}

vogelbirb.com {
	handle_path /s/* {
		rewrite /public.php/dav/files{uri}
		reverse_proxy https://cloud.matheuslp.com {
			header_up Host {upstream_hostport}
		}
	}

	handle / {
		redir https://www.{host}{uri}
	}
}

www.vogelbirb.com {
	root /srv/vogelbirb-homepage
	file_server
}

status.matheuslp.com {
	reverse_proxy uptime-kuma:3001
}

gotify.matheuslp.com {
	reverse_proxy gotify:80
}
