{
	email {$EMAIL}
	log {
		format console
	}
}

mathlp.com {
	redir https://www.matheuslp.com{uri}
}

matheuslp.com {
	redir https://www.{host}{uri}
}

www.matheuslp.com {
	@plausible path /js/script.js /api/event
	handle @plausible {
		rewrite /js/script.js /js/pa-NPa5wTZ2W52_ThS3BxMrF.js
		reverse_proxy https://plausible.matheuslp.com {
			header_up Host {http.reverse_proxy.upstream.hostport}
		}
	}
	root /srv/mlp-homepage
	file_server
}

vogelbirb.com {
	handle_path /s/* {
		rewrite /public.php/dav/files{uri}
		reverse_proxy https://cloud.matheuslp.com {
			header_up Host {upstream_hostport}
		}
	}

	handle / {
		redir https://www.{host}{uri}
	}
}

www.vogelbirb.com {
	@plausible path /js/script.js /api/event
	handle @plausible {
		rewrite /js/script.js /js/pa-nTBMZ2zTK6Lpwm3vxE1dR.js
		reverse_proxy https://plausible.matheuslp.com {
			header_up Host {http.reverse_proxy.upstream.hostport}
		}
	}
	root /srv/vogelbirb-homepage
	file_server
}

status.matheuslp.com, status.vogelbirb.com {
	reverse_proxy uptime-kuma:3001
}

gotify.matheuslp.com {
	reverse_proxy gotify:80
}
